$spacer: 20px;
::-webkit-scrollbar {
  width: 3px;
  background-color: #f6f8f4
}
::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 5px;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
display: none;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';